<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
    
    
    <bean name="user1" class="com.te.springcore.User">
    <property name="id">
    <value>5</value>
    </property>
    <property name="name">
    <value>vinayak</value>
    </property>
    <property name="age">
    <value>18</value></property>
    <property name="database"
    ref="oracle"
    />
    
    </bean>
    <bean name="data" class="com.te.springcore.MySql">
    </bean>
    
    <bean name="oracle" class="com.te.springcore.Oracle">
    </bean>
    
     <bean name="user2" class="com.te.springcore.User">
    <property name="id">
    <value>1</value>
    </property>
    <property name="name">
    <value>darshan</value>
    </property>
    <property name="age">
    <value>11</value></property>
    
    <property name="database" ref="data"/>
                      
    </bean>
    

</beans>